$gris-fondo: #e7e7e7;
$azul-principal: #0185ed;
$blanco-trans: rgba(255, 255, 255, 0.83);
$rojo-alerta: #ff1043;
$azul-oscuro: #02355d;
$rojo-oscuro: #7c011c;
$celeste: #00bbf8;
$celeste-trans: rgba(0, 187, 249, 0.5);